@inherits Dynamicweb.Rendering.RazorTemplateBase<Dynamicweb.Rendering.RazorTemplateModel<Dynamicweb.Rendering.Template>>
@using Dynamicweb.Rapido.Blocks

@functions{
    BlocksPage rizzoReviewOrderCheckoutPage = BlocksPage.GetBlockPage("CheckoutPage");
    int rizzoCartFeedPageId;
}

@{
    rizzoCartFeedPageId = GetPageIdByNavigationTag("MiniCartFeed");

    Block rizzoCartContentTemplate = new Block()
    {
        Id = "CartContentTemplate",
        SortId = 10,
        Template = RenderRizzoCartContentTemplate()
    };
    rizzoReviewOrderCheckoutPage.ReplaceBlock(rizzoCartContentTemplate);
    
    Block rizzoCartOrderLineTemplate = new Block()
    {
        Id = "CartOrderlineTemplate",
        SortId = 20,
        Template = RizzoRenderCartOrderlineTemplate()
    };

    Block rizzoCartOrderLineMobileTemplate = new Block()
    {
        Id = "CartOrderlineMobileTemplate",
        SortId = 30,
        Template = RenderRizzoCartOrderlineMobileTemplate()
    };
    
    var currentStep = GetLoop("StepButtons").FirstOrDefault(step => step.GetBoolean("Step.Current"));
    if (currentStep != null && currentStep.GetInteger("Step.Number") == 1)
    {
        rizzoReviewOrderCheckoutPage.ReplaceBlock(rizzoCartOrderLineTemplate);
        rizzoReviewOrderCheckoutPage.ReplaceBlock(rizzoCartOrderLineMobileTemplate);
    }
}

@helper RizzoRenderCartOrderlineTemplate() {
    bool pointShop = Pageview.AreaSettings.GetItem("Ecommerce").GetBoolean("PointShopOnly");
    int quotesCartPageId = GetPageIdByNavigationTag("QuotesCartPage");
    bool useGoogleTagManager = !string.IsNullOrEmpty(Pageview.AreaSettings.GetItem("Settings").GetString("GoogleTagManagerID"));

    /*Start of Edit Cart changes*/
    var editCartPage = Dynamicweb.Frontend.SearchEngineFriendlyURLs.GetFriendlyUrl(GetPageIdByNavigationTag("EditCart"));
    /*End of Edit Cart changes*/

    @* Template for the orderlines *@
    <script id="CartOrderline" type="text/x-template">
        {{#unless isEmpty}}
            <tr id="Orderline{{id}}" class="cart-orderline">
                <td class="cart-orderline__cell cart-table__image u-hidden-xs u-hidden-xxs dw-mod">
                    <div class="cart-orderline__cell__block {{hideimage}} dw-mod">
                        @Render(new Image { Path = "{{image}}", Title = "{{name}} {{variantname}}", ImageDefault = new ImageSettings { Width = 60, Height = 60, Crop = 5 } })
                    </div>
                </td>
                <td class="cart-orderline__cell dw-mod" title="{{name}} {{variantname}}">
                    <a href="{{link}}" class="u-color-inherit cart-orderline__name">{{name}}</a>
                    <div class="cart-orderline__cell__block item-number dw-mod">#{{productnumber}}</div>
                    {{#if variantname}}
                        <div class="cart-orderline__cell__block item-number dw-mod">{{variantname}}</div>
                    {{/if}}
                    {{#if unitname}}
                        <div class="cart-orderline__cell__block item-number dw-mod">{{unitname}}</div>
                    {{/if}}
                </td>
                
                {{!-- Start of Edit Cart changes --}} 
                <td class="cart-orderline__cell u-ta-right u-hidden-xs u-hidden-xxs dw-mod" width="200">
                    {{#if pointsTotal}}
                        <span class="u-color--loyalty-points">{{pointPrice}}</span> @Translate("points")
                    {{else}}                        
                        {{#if isSalesRep}}                                 
                            {{currency}} <input class="u-no-margin" type="number" step=".01" name="editPrice" id="Price_{{id}}" min="{{productCost}}" max={{productPrice}} value="{{unitpricevalue}}" onchange="EditCart.prototype.EditProductPrice('@editCartPage',this.value,'{{id}}','{{variantId}}')"/>
                            <i class="fa fa-info-circle" onclick="EditCart.prototype.DisplayInfo('{{id}}')"></i>  
                            <p id="lowestPrice_{{id}}" class="u-zindex-1 u-hidden u-position-absolute u-border u-padding u-color-light-gray--bg">@Translate("Lower Price: "){{currency}}{{productCost}}</p>                          
                        {{else}}
                            {{unitprice}}
                        {{/if}}                          
                    {{/if}}
                </td>
                {{!-- End of Edit Cart changes --}}

                @if (!Dynamicweb.Ecommerce.Common.Context.Cart.IsQuote)
                {
                    <td class="cart-orderline__cell u-ta-right dw-mod" width="80">
                    
                        {{!-- Start of Stock Validation changes --}}
                        @Render(new NumberField { Id = "Quantity_{{orderLineId}}", Min = 1, OnChange = "Cart.ChangeQuantity('" + rizzoCartFeedPageId + "', '{{orderLineId}}', this.value, '{{productStock}}')", Name = "QuantityOrderLine{{orderLineId}}", Value = "{{quantity}}", CssClass = "u-w80px" })
                        {{!-- End of Stock Validation changes --}}
                    
                    </td>
                    <td class="cart-orderline__cell u-ta-left dw-mod u-no-padding-x" width="50">
                        @Render(new Button {
                            ButtonType = ButtonType.Button,
                            ButtonLayout = ButtonLayout.Clean,
                            CssClass = "btn--condensed",
                            OnClick = "{{removeFromCartGoogleImpression}}; Cart.UpdateCart(null, '/Default.aspx?ID=" + rizzoCartFeedPageId + "', 'CartCmd=DelOrderLine&key={{orderLineId}}&redirect=false', true);",
                            Icon = new Icon { Prefix = "fas", Name = "fa-times" } 
                        })
                    </td>
                }
                else
                {
                    <td class="cart-orderline__cell u-ta-right dw-mod" width="80">
                        @Render(new HiddenField { Id = "Quantity_{{orderLineId}}", Name = "QuantityOrderLine{{orderLineId}}", Value = "{{quantity}}" })
                        <div class="u-w80px u-no-margin">{{quantity}}</div>
                    </td>
                }

                <td class="cart-orderline__cell u-ta-right dw-mod">
                    {{#if pointsTotal}}
                        <span class="u-color--loyalty-points">{{pointsTotal}}</span> @Translate("points")
                    {{else}}
                        <div>{{totalprice}}</div>
                    {{/if}}
                    {{#if canBePurchasedWithPoints}}
                        @Render(new Button { Title = Translate("Use") + " {{pointPrice}} " + Translate("points"), ButtonType = ButtonType.Button, ButtonLayout = ButtonLayout.Clean, CssClass = "btn--loyalty-points btn--sm u-no-margin", OnClick = "Cart.BuyForPoints('" + GetGlobalValue("Global:Page.ID") + "', '" + rizzoCartFeedPageId + "', '{{orderLineId}}', '{{id}}', '{{variantId}}');", Icon = new Icon { Prefix = "far", Name = "fa-tag" } })
                    {{/if}}
                </td>
            </tr>
        {{/unless}}
        <tr class="{{hideBomItems}}">
            <td class="cart-table__image u-hidden-xs u-hidden-xxs dw-mod"><div class="{{hideimage}}"></div></td>
            <td colspan="5" class="u-no-padding">
                <table class="u-no-margin u-color-light-gray--bg">
                    <tbody>
                        {{#BomItems}}
                            <tr>
                                <td class="cart-table__image u-hidden-xs u-hidden-xxs dw-mod">
                                    @Render(new Image { Path = "{{image}}", Title = "{{name}} {{variantname}}", ImageDefault = new ImageSettings { Width = 60, Height = 60, Crop = 5 } })
                                </td>
                                <td title="{{name}} {{variantname}}">
                                    <a href="{{link}}" class="u-color-inherit dw-mod">{{name}}</a>
                                    <div class="item-number dw-mod">#{{productnumber}}</div>
                                    {{#if variantname}}
                                        <div class="item-number dw-mod">{{variantname}}</div>
                                    {{/if}}
                                    {{#if unitname}}
                                        <div class="item-number dw-mod">{{unitname}}</div>
                                    {{/if}}
                                </td>
                                <td class="u-hidden-xs u-hidden-xxs">&nbsp;</td>
                                <td>{{quantity}}</td>
                                <td>&nbsp;</td>
                                <td class="cart-table__price u-ta-right dw-mod">&nbsp;</td>
                            </tr>
                        {{/BomItems}}
                    </tbody>
                </table>
            </td>
        </tr>
    </script>
}

@helper RenderRizzoCartContentTemplate() {
    var splitCartPage = Dynamicweb.Frontend.SearchEngineFriendlyURLs.GetFriendlyUrl(GetPageIdByNavigationTag("SplitCart")); 
    List<Block> subBlocks = rizzoReviewOrderCheckoutPage.GetBlockListById("ReviewOrder").OrderBy(item => item.SortId).ToList();
    bool pointShop = Pageview.AreaSettings.GetItem("Ecommerce").GetBoolean("PointShopOnly");
    bool useGoogleTagManager = !string.IsNullOrEmpty(Pageview.AreaSettings.GetItem("Settings").GetString("GoogleTagManagerID"));

    <script id="CartContent" type="text/x-template">
        {{#.}}
            @if (useGoogleTagManager)
            {
                <text>{{{googleEnchantImpressionEmptyCart OrderLines}}}</text>
            }
            <div class="card-header u-color-light--bg dw-mod">
                @Render(new Heading { Title = Translate("Review order") + "({{numberofproducts}})", Level = 3, Icon = new Icon { Prefix = "fas", Name = "fa-list-ul" } })
            </div>
            <div class="card u-color-light--bg u-no-padding--xs dw-mod">
                {{#unless isEmpty}}
                    
                    {{!-- Start of Split Cart changes --}}  
                                    
                    {{#if OrderLinesOutOfStock}}
                        <p class="u-border-bottom u-margin-bottom-5px u-padding-bottom">@Translate("Some items in your cart are no longer available")</p>
                        <table class="table cart-table dw-mod" id="OutOfStock">
                            <tbody id="OrderLines">
                                {{#OrderLinesOutOfStock}}
                                    {{> (lookup . 'template') }}
                                {{/OrderLinesOutOfStock}}
                            </tbody>
                        </table>
                        <div class="grid__col-md-12 u-color-light-gray--bg u-margin-bottom">
                            <p class="u-inline u-pull--left">@Translate("You cannot checkout with unavailable products in your cart. You have to remove them first.")</p>
                            <button type="button" class="btn btn--primary u-pull--right u-w340px u-inline dw-mod u-no-margin" onclick="SplitCart.prototype.RemoveOutOfStockProducts('@splitCartPage')">@Translate("Remove All Out Of Stock Items")</button>
                        </div>
                        
                        <p class="u-border-bottom u-margin-bottom-5px u-padding-bottom">@Translate("The following products are in stock and can be ordered")</p>
                    {{/if}}              
                    
                    <table class="table cart-table dw-mod">
                        <tbody id="OrderLines">
                            {{#OrderLines}}
                                {{> (lookup . 'template') }}
                            {{/OrderLines}}
                        </tbody>
                    </table>                
                    
                    {{!-- End of Split Cart changes --}}  
                    
                {{/unless}}
                <div class="grid u-border-top">
                    <div class="grid__col-sm-6">
                        @if (Dynamicweb.Security.Licensing.LicenseManager.LicenseHasFeature("LoyaltyPoints") && !string.IsNullOrWhiteSpace(GetGlobalValue("Global:Extranet.UserName")))
                        {
                            <text>
                                {{#if userPoints}}
                                <div class="u-border u-border-color--loyalty-points u-padding--lg u-full-height">
                                    @Render(new Heading { Title = Translate("Your point balance"), Level = 3 })
                                    <div class="u-font-size--lg u-margin-bottom">
                                        <span class="u-color--loyalty-points">{{userPoints}}</span> @Translate("points")
                                    </div>
                                    <div>@Translate("On this order you will use"): <span class="u-color--loyalty-points">{{pointsUsedInCart}}</span> @Translate("points")</div>
                                </div>
                                {{/if}}
                            </text>
                        }
                    </div>

                    <div class="grid__col-sm-6">
                        @if (!pointShop)
                        {
                            <div class="{{hideSubTotal}}">
                                <div class="cart-summary__subtotals dw-mod">@Translate("Subtotal")</div>
                                <div class="cart-summary__subtotals u-pull--right dw-mod">{{subtotalprice}}</div>
                            </div>
                            <div class="{{hidePaymentfee}}">
                                <div class="cart-summary__info dw-mod">@Render(new Icon { Prefix = "fas", Name = "fa-credit-card", Label = "{{paymentmethod}}", LabelPosition = IconLabelPosition.After })</div>
                                <div class="cart-summary__info u-pull--right dw-mod">{{paymentfee}}</div>
                            </div>
                        }
                        <div class="{{hideShippingfee}}">
                            <div class="cart-summary__info dw-mod">@Render(new Icon { Prefix = "fas", Name = "fa-truck", Label = "{{shippingmethod}}", LabelPosition = IconLabelPosition.After })</div>
                            <div class="cart-summary__info u-pull--right dw-mod">{{shippingfee}}</div>
                        </div>
                        @if (!pointShop)
                        {
                            <div>
                                <div class="cart-summary__info dw-mod">@Translate("VAT")</div>
                                <div class="cart-summary__info u-pull--right dw-mod">{{totalvat}}</div>
                            </div>
                        }
                        @if (Pageview.User != null && Dynamicweb.Security.Licensing.LicenseManager.LicenseHasFeature("LoyaltyPoints"))
                        {
                            <text>
                                {{#if earnings}}
                                <div>
                                    <div class="cart-summary__info dw-mod">@Translate("Earnings")</div>
                                    <div class="cart-summary__info u-pull--right dw-mod"><span class="u-color--loyalty-points">{{earnings}}</span> @Translate("points")</div>
                                </div>
                                {{/if}}
                            </text>
                        }
                        <div class="cart-summary__totals-container dw-mod">
                            <div class="cart-summary__totals dw-mod">@Translate("Total")</div>
                            <div class="cart-summary__totals u-pull--right dw-mod">
                                @if (pointShop)
                                {
                                    <span class="u-color--loyalty-points">{{pointsUsedInCart}}</span> @Translate("points")
                                }
                                else
                                {
                                    <text>{{totalprice}}</text>
                                }
                            </div>
                        </div>
                    </div>
                </div>

                <div class="grid">
                    <div class="grid__col-12 grid__col--line-top"></div>
                </div>

                <div class="grid__cell u-padding--xs {{hideComment}}">
                    @Render(new TextareaField { Rows = 3, Placeholder = Translate("Enter comment"), Name = "EcomOrderCustomerComment", Id = "EcomOrderCustomerComment", Value = "{{comment}}" })
                </div>
                <div class="u-margin-bottom--lg">
                    @foreach (LoopItem error in GetLoop("ValidationErrors"))
                    {
                        @Render(new NotificationMessage { Message = error.GetString("Ecom:Cart.ValidationError.ErrorMessage"), MessageType = NotificationMessageType.Error })
                    }
                </div>

                @RenderBlockList(subBlocks)
            </div>
        {{/.}}
    </script>
}

@helper RenderRizzoCartOrderlineMobileTemplate() {
    <script id="CartOrderlineMobile" type="text/x-template">
        {{#unless isEmpty}}
            <tr id="Orderline{{id}}">
                <td class="cart-table__image dw-mod">
                    <div class="{{hideimage}}">
                        @Render(new Image { Path = "{{image}}", Title = "{{name}} {{variantname}}", ImageDefault = new ImageSettings { Width = 60, Height = 60, Crop = 5 } })
                    </div>
                </td>
                <td title="{{name}} {{variantname}}" colspan="4">
                    <a href="{{link}}" class="u-color-inherit">{{name}}</a>
                    <div>#{{productnumber}}</div>
                    {{#if variantname}}
                        <div>{{variantname}}</div>
                    {{/if}}
                    {{#if unitname}}
                        <div>{{unitname}}</div>
                    {{/if}}
                </td>
            </tr>
            <tr class="table__row--no-border">
                <td class="cart-table__image dw-mod"></td>
                <td colspan="4">
                    <div class="u-pull--left">
                    
                        {{!-- Start of Stock Validation changes --}}
                        @Render(new NumberField { Id = "Quantity_{{orderLineId}}", Min = 1, OnChange = "Cart.ChangeQuantity('" + rizzoCartFeedPageId + "', '{{orderLineId}}', this.value, '{{productStock}}')", Name = "QuantityOrderLine{{orderLineId}}", Value = "{{quantity}}", CssClass = "u-w80px" })
                        {{!-- End of Stock Validation changes --}}
                        
                        <span>
                            @Render(new Button { ButtonType = ButtonType.Button, ButtonLayout = ButtonLayout.Clean, CssClass = "btn--condensed u-no-margin", OnClick = "{{removeFromCartGoogleImpression}}; Cart.UpdateCart(null, '/Default.aspx?ID=" + rizzoCartFeedPageId + "', 'CartCmd=DelOrderLine&key={{orderLineId}}&redirect=false', true);", Icon = new Icon { Prefix = "fas", Name = "fa-times" } })
                        </span>
                    </div>
                    <div class="u-pull--right u-ta-right">
                        {{#if pointsTotal}}
                            <span class="u-color--loyalty-points">{{pointsTotal}}</span> @Translate("points")
                        {{else}}
                            <div>{{totalprice}}</div>
                        {{/if}}
                        {{#if canBePurchasedWithPoints}}
                            @Render(new Button { Title = Translate("Use") + "{{pointPrice}}" + Translate("points"), ButtonType = ButtonType.Button, ButtonLayout = ButtonLayout.Clean, CssClass = "btn--loyalty-points btn--sm u-no-margin", OnClick = "Cart.BuyForPoints('" + GetGlobalValue("Global:Page.ID") + "', '" + rizzoCartFeedPageId + "', '{{orderLineId}}', '{{id}}', '{{variantId}}');", Icon = new Icon { Prefix = "far", Name = "fa-tag" } })
                        {{/if}}
                    </div>
                </td>
            </tr>
        {{/unless}}
        <tr class="{{hideBomItems}}">
            <td colspan="6" class="u-no-padding">
                <table class="u-no-margin u-color-light-gray--bg">
                    <tbody>
                        {{#BomItems}}
                            <tr>
                                <td class="cart-table__image u-hidden-xs u-hidden-xxs dw-mod">
                                    @Render(new Image { Path = "{{image}}", Title = "{{name}} {{variantname}}", ImageDefault = new ImageSettings { Width = 60, Height = 60, Crop = 5 } })
                                </td>
                                <td title="{{name}} {{variantname}}">
                                    <a href="{{link}}" title="{{name}} {{variantname}}">{{name}}</a>
                                    <div>#{{productnumber}}</div>
                                    {{#if variantname}}
                                        <div>{{variantname}}</div>
                                    {{/if}}
                                    {{#if unitname}}
                                        <div>{{unitname}}</div>
                                    {{/if}}
                                </td>
                                <td class="u-hidden-xs u-hidden-xxs">&nbsp;</td>
                                <td>{{quantity}}</td>
                                <td>&nbsp;</td>
                                <td class="cart-table__price u-ta-right dw-mod">&nbsp;</td>
                            </tr>
                        {{/BomItems}}
                    </tbody>
                </table>
            </td>
        </tr>
    </script>
}