@inherits Dynamicweb.Rendering.RazorTemplateBase<Dynamicweb.Rendering.RazorTemplateModel<Dynamicweb.Rendering.Template>>

@using Dynamicweb.Rapido.Blocks;
@using Dynamicweb.Rapido.Blocks.Components.General;
@using Dynamicweb.Rapido.Blocks.Components;


@functions {
    BlocksPage giftCardsUsedPage = BlocksPage.GetBlockPage("Details");
}

@{
    if (!string.IsNullOrWhiteSpace(GetString("Ecom:Order.HasUsedGiftCards")))
    {
        Block giftCardsUsed = new Block
        {
            Id = "GiftCardsUsed",
            SortId = 40,
            Template = RenderGiftCardsUsed()
        };
        giftCardsUsedPage.Add("MainContent", giftCardsUsed);
    }
}

@helper RenderGiftCardsUsed()
{
    <table class="table table-responsive">
        <tr>
            <td colspan="6">
                @Render(new Heading { Title = Translate("Order used gift cards"), CssClass = "u-no-margin" })
            </td>
        </tr>
        <tr>
            <td>@Translate("Gift card name")</td>
            <td>@Translate("Gift card code")</td>
            <td>@Translate("Expiry date")</td>
            <td class="u-ta-right">@Translate("Initial amount")</td>
            <td class="u-ta-right">@Translate("Used amount")</td>
            <td class="u-ta-right">@Translate("Remaining balance")</td>
        </tr>

        @foreach (LoopItem usedgiftcards in GetLoop("UsedGiftCards"))
        {
            <tr>
                <td>@usedgiftcards.GetString("Ecom:Order.UsedGiftCard.Name")</td>
                <td>@usedgiftcards.GetString("Ecom:Order.UsedGiftCard.Code")</td>
                <td>@usedgiftcards.GetDate("Ecom:Order.UsedGiftCard.ExpiryDate").ToString(Dynamicweb.Core.Helpers.DateHelper.DateFormatStringShort)</td>
                <td class="u-ta-right" title="@usedgiftcards.GetString("Ecom:Order.UsedGiftCard.InitialAmount")">@usedgiftcards.GetString("Ecom:Order.UsedGiftCard.InitialAmount")</td>
                <td class="u-ta-right" title="@usedgiftcards.GetString("Ecom:Order.UsedGiftCard.UsedAmountForTheOrder")">@usedgiftcards.GetString("Ecom:Order.UsedGiftCard.UsedAmountForTheOrder")</td>
                <td class="u-ta-right" title="@usedgiftcards.GetString("Ecom:Order.UsedGiftCard.RemainingBalance")">@usedgiftcards.GetString("Ecom:Order.UsedGiftCard.RemainingBalance")</td>
            </tr>
        }
    </table>
}